@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins&display=swap');

:root {
    --font: "Poppins", Arial;
}


.room-effect {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.01%;
    height: 0.01%;
    border-radius: 50%;
    background-color: #5b94e3;
    opacity: 0.5;
    transition: 0.8s ease-in;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background: rgb(234 179 8);
}

.law-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
}

li {
    list-style: none;
    font-size: 1.1rem;
    color: #333;
    padding: 10px 10px;
    border-radius: 5px;
}
li:hover {
    background-color: #71a9f8;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-family: var(--font);
    color: #333;
}

.search-bar {
    font-size: 1.1rem;
    color: #333;
    font-family: var(--font);
    width: 200px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0px;    
    background-color: rgb(56, 69, 136);
    color: #fff;
}

.search-bar[type=text]:focus {
    outline: none;
}

.main-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 80vh;
    background-color: #f3f3f3;
}

.main-page .container {
    display: flex;
    width: 80%;
    height: 60vh;
}

.main-page .content {
    width: 50%;
    padding: 50px 0;
}

.main-page .content h1 {
    font-family: 'oswald';

    font-size: 2rem;
}

.main-page .content p {
    font-family: var(--font);
    padding: 20px 20px;
}

.main-page .content button {
    font-size: 1rem;
    border: none;
    padding: 12px 18px;
    background-color: rgb(56, 69, 136);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.main-page .image {
    position: relative;
    width: 50%;
}

.main-page .image img {
    width: 100%;
    height: auto;
}

.main-page .image button {
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 0;
    font-size: 1rem;
    padding: 8px 18px;
    border: none;
    background-color: rgb(56, 69, 136);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


.profile {
    height: 100vh;
}

.profile h2 {
    font-family: 'oswald';
    font-size: 2rem;
    text-align: center;
    margin-top: 5vh;
    
}

.profile .content {
    font-family: 'poppins';
    margin: 5% 30%;
}